@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,600');

body {
    font-family: 'Cormorant Garamond', 'serif';
    font-weight: 600;
    background: #ffffff;
    color: #101010;
    font-size: 16pt;
}

h1 {
    font-size: 54pt;
    text-align: left;
    border-bottom: 5px solid #101010; 
    color: darkslategray;
    font-family: 'Poppins', 'sans-serif';
}

h4 {
    text-align: left;
    /* border-bottom: 5px solid #101010;  */
    color: #101010;
    font-family: 'Poppins', 'sans-serif';
}

p {
    text-align: justify;
}

strong {
    line-height: 2em;
    padding: 5px;
    background: rgba(119, 145, 130, 0.8);
    color: #101010;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

img {
    padding: 5px;
    border: 10px solid #101010;
    background: #ffffff;
}

.buttons {
    /* margin: 10px; */
    padding: 10px;
}

.btn {
    width: 60%;
}

td {
    width: 200px;
}
/* 
table {
    background: lightslategrey;
    color: #ffffff;
} */

.btn-primary {
    color: #ffffff;
    background: rgba(119, 145, 130, 0.8);
    border: 1px solid darkslategrey;
}