@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

* {
    padding: 0;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 700px;
    margin: auto;
    height: auto;

}
#logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-family: 'EB Garamond', 'serif';
}

#logo h2 {
    padding: 5px;
}

#subtext {
    display: flex;
    align-items: center;
    font-family: 'EB Garamond', 'serif';
}

#navbar {
    font-family: 'EB Garamond', 'serif';
    font-size: 12pt;
    padding: 10px;
}

ul {
    font-family: 'EB Garamond', 'serif';
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

li {
    padding: 10px;
}

hr {

}