#navbarlist {
    margin: 20px;
    font-family: 'Crimson Text', serif;
    border: 1px #704214 dashed;
    text-align: center;
}

#navbarlist li {
    padding: 10px;
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

input[type="submit"] {
    padding: 10px;
    font-family: 'Montserrat', 'sans-serif';
    margin: 10px;
}

select, option {
    font-family: 'Montserrat', 'sans-serif';
}