@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:300,400,600');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffff00;
    /* min-height: 100%; */
    font-family: "Libre Baskerville", "serif";
    font-size: 12pt;
}

h1 {
    font-family: "Montserrat", "sans-serif";
    font-size: 18pt;
    font-weight: 400;
}
.nav_bar {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    /* box-shadow: #707070 0px 0px 15px; */
    top: 0px;
    width: inherit;
    margin: 0; 
    padding: 10px;
}

.helper {
    background: #ffffff;
    padding: 10px;
    min-width: inherit;
    color: #000000;
    /* visibility: hidden; */
    display: none;
    position: fixed;
    font-family: "Montserrat", "sans-serif";
    font-weight: 600;
    font-size: 8pt;
    opacity: 0.8;
}

.content {
    padding: 20px;
}

h1 {
    font-size: 38pt;
}

.nav_bar_title {
    padding: 10x;
}

#nav_bar_helper {
    width: 100%;
}

.action_button {
    font-family: "Libre Baskerville", "serif";
    font-size: 12pt;
    background: #ffff00;
    border: 2px solid #150000;
    padding: 10px;
}

.action_button:hover {
    transition: background 500ms ease-in;
    font-family: "Libre Baskerville", "serif";
    font-size: 12pt;
    background: #ffff60;
    border: 2px solid #150000;
    padding: 10px;
}

#dollar_styled {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #ffffff;
    text-align: center;
    border: 2px solid #150000;
}

#style {
    font-size: 18pt;
}

#style_helper {
    background: #ffffff;
    padding: 10px;
    min-width: inherit;
    color: #000000;
    /* visibility: hidden; */
    display: none;
    position: relative;
    font-family: "Montserrat", "sans-serif";
    font-weight: 600;
    font-size: 8pt;
    opacity: 0.8;
}