body {
    margin: 5px;
}

.header_bar {
    background: #b6d2ec;
    color: #2a75ba;
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}

table {
    border: 2px solid black;
}

td, th {
    border: 2px solid black;
}

